@page "/Account/ForgotPassword"
@using System.ComponentModel.DataAnnotations
@using eShop.Web.Common
@inject IAuthService AuthService
@attribute [Intent.Skip("/h1", "/hr", "/div[@class='row']")]

<PageTitle>Forgot your password?</PageTitle>

<section class="form-container">
    <EditForm Model="Input"
              FormName="forgot-password"
              OnValidSubmit="OnValidSubmitAsync"
              method="post">
        <DataAnnotationsValidator />
        <ValidationSummary class="form-validation-summary" role="alert" />

        <div class="form-group">
            <label for="email">Email</label>
            <InputText id="email"
                       class="form-control"
                       @bind-Value="Input.Email"
                       autocomplete="username"
                       aria-required="true"
                       placeholder="name@example.com" />
            <ValidationMessage For="() => Input.Email" class="form-error" />
        </div>

        <button type="submit" class="btn-primary" style="background-color:black; color:white">Reset Password</button>
    </EditForm>
</section>

@code {

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private async Task OnValidSubmitAsync()
    {
        await AuthService.ForgotPassword(Input.Email);
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";
    }
}
